<div class="container mx-auto text-center">
  <h3 class="mb-4 text-3xl font-bold">List of submission</h3>

  <form class="form">
    <div class="row mb-5">
      <div class="col">
        <input type="text" class="form-control" placeholder="Filter by name" #name>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Filter by email" #email>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" type="button" (click)="filterResults(name.value,email.value)">Search</button>
      </div>
    </div>
  </form>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
<!--        <th>Image URL</th>-->
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let submission of filteredSubmission; let in = index">
        <td>{{ submission['id'] }}</td>
        <td>{{ submission['name'] }}</td>
        <td>{{ submission['email'] }}</td>
        <td>{{ submission['message'] }}</td>
<!--        <td>{{ submission['image_url'] }}</td>-->
        <td><a [routerLink]="['/details', submission['id'] ]">View</a></td>
      </tr>
    </tbody>
  </table>
</div>

